# 37 - Seleksi baris dengan banyak kriteria pada Data Frame

# Import Modules

In [1]:
import pandas as pd

print(pd.__version__)

1.2.4

# Persiapan Data Frame

menggunakan persiapan data frame dengan data titanicfull csv

In [ ]:
df = pd.read_csv('./desktop/belajar_pandas/titanicfull.csv')
df.head()

# Seleksi Baris dengan banyak kriteria

jika ingin menseleksi kita bisa menyertakan kriteria yang kita inginkan

In [ ]:
df[(df['sex']=='female')&(df['age']>=60)&(df['embarked']=='S')&(df['survived']==1)]

disini kita juga bisa merapihkan penulisan baris tersebut

In [ ]:
df[
    (df['sex']=='female')&
    (df['age']>=60)&
    (df['embarked']=='S')&
    (df['survived']==1)
]

In [ ]:
kr1 = df['sex']=='female'
kr2 = df['age']>=60
kr3 = df['embarked']=='S'
kr4 = df['survived']==1

df[kr1&kr2&kr3&kr4]