# 04 - Pemilihan kolom (columns selection) pada Pandas Data Frame berdasarkan tipe data

# Import Modules

^ Modul yang akan digunakan :

1. pandas as pd

2. numpy as np

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.5
1.19.5

# Membuat Data Frame Sederhana

^ disini kita akan membaut data frame dimana baris memiliki 5 dan kolom ada 2 

^ untuk isi data frame kita akan menggunakan np.random.randint dimana isi data tersebut mernupakan angka yang sudah di acak yang jangkauannya 1 sampai 20 yang sizenya sesuai kolom dan baris 

^ lalu kita memanggil df['bil_pecahan'].astype('float') untuk mengubah atau konversi bilangan pecahan menjadi bilangan yang float

^ lalu kita menggunakan df.index = pd.util.testing.makeDateIndex(n_rows, freq='H') yang bertujuan membuat data index baru yang menggunakan frekuensi hours / jam

In [17]:
n_rows = 5
n_cols = 2
cols = ['bil_pecahan,bil_bulat']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns = cols)
df{'bil_pecahan'} = df['bil_pecahan'].astype(float)

df.index = pd.util.testing.makeDateIndex(n_rows,freq ='H')
df = df.reset_index()

df['teks'] = list('ABCDE')

df

SyntaxError: invalid syntax (<ipython-input-17-f63afb090465>, line 6)

In [5]:
df.dtypes

NameError: name 'df' is not defined

# Memilih kolom yang bertipe data numerik

^ untuk memilih kolom bertipe nurmerik kita menggunakan script tersebut

In [6]:
df.select_dtypes(include='number')

NameError: name 'df' is not defined

^ untuk memilih kolom bertipe float  kita menggunakan script tersebut

In [7]:

df.select_dtypes(include='float')

NameError: name 'df' is not defined

^ untuk memilih kolom bertipe int kita menggunakan script tersebut

In [8]:
df.select_dtypes(include='int')

NameError: name 'df' is not defined

^ untuk memilih kolom bertipe string atau object kita menggunakan script tersebut

In [9]:
df.select_dtypes(include='object')

NameError: name 'df' is not defined

^ untuk memilih kolom bertipe  data time kita menggunakan script tersebut

In [10]:
df.select_dtypes(include='datetime')

NameError: name 'df' is not defined

In [11]:
^ untuk memilih kolom dengan kombinasi tipe data  kita menggunakan script tersebut

SyntaxError: invalid syntax (<ipython-input-11-e8b1f60a8fd8>, line 1)

In [12]:

df.select_dtypes(include=['number', 'object'])

NameError: name 'df' is not defined