# 03 - Konversi tipe data String ke Numerik pada kolom Data Frame

# Import Modules

^ modul yang kita gunakan yaiut :

1. pandas as pd

In [1]:
import pandas as pd

print(pd.__version__)

1.1.5

# Persiapan Data Frame

^ Data Frame yang kita gunakan terdapat ada 2 kolom dimana kolom 1 (1 2 3 teks) sedangkan  kolom  2 (1 2 3 4)
^ lalu kita memanggil pd.DataFrame(data) yang bertujuan kita akan membuat data frame yang datanya di ambil dari data yang kita tulis tadi

In [2]:
data = {'col1':['1', '2', '3', 'teks'],
             'col2':['1', '2', '3', '4']}

df = pd.DataFrame(data)
df

   col1 col2
0     1    1
1     2    2
2     3    3
3  teks    4

^ fungsi ini berfungsi untuk mengetahui jenis data yang kita gunakan
^ jika kita run script tersebut akan memperlihatkan bahwa data tersebut bertipe object , kenapa? karena di atas data tersebut adalah data string

In [3]:
df.dtypes

col1    object
col2    object
dtype: object

# KONVERSI TIPE DATA DENGAN FUNGSI astype()

^ kita akan mencoba mengubah tipe data di kolom 2 yang tadinya object kita akan ubah menjadi tipe data integer

^ kita akan memanggil script df.astype lalu kita menuliskan kolom yang akan di ubah dan kita tulis : tipe data yang kita inginkan df_x = df.astype({'col2' : 'int'})

^ lalu hasil konversinya kita tampung dalam variable baru yaitu df_x

In [4]:
df_x = df.astype({'col2' : 'int'})
df_x

   col1  col2
0     1     1
1     2     2
2     3     3
3  teks     4

^ untuk dapat mengetahui apakah data nya sudah berubah atau tidak kita cukup memanggil df_x.dtypes 

^ jika kita run kita bisa melihat tipe data col 2 adalah integer

In [5]:

df_x.dtypes

col1    object
col2     int64
dtype: object

# Konversi Tipe Data Numerik dengan Fungsi to_numeric()

^ disini kita memanggil pd.to_numeric , lalu kita menuliskan parameter errors dengan nilai coerce yang diterapkan di df.apply

^ maksud dari erros = coerce yaitu apabila ada data yang tidak bisa di konversikan dia akan digantikan dengan NaN

In [6]:

df.apply(pd.to_numeric, errors='coerce')

   col1  col2
0   1.0     1
1   2.0     2
2   3.0     3
3   NaN     4