# 17 - Resampling pada data deret waktu

# Import Modules

Modul yang digunakan :

1.pandas as pd

2.numpy as np

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.1.5
1.19.5

# Persiapan Data Frame

1.menyiapkan data frame yang terdiri dari baris yang isinya 365 dikali dengan 24  , kolom dengan jumlah 2 

2.memberi label setiap kolomnya dengan nama col 1 dan col 2

3.memanggil pd.DataFrame.random.randint untuk mengacak nomor dengan jangkauan 1 sampai 20 untuk mengisi data frame 

4.memanggil pd.util.testing.makeDateIndeks dengan jumlah kolom yang kita buat dengan frekuensi yang di atur H atau intervalnya per jam

In [3]:
n_rows = 365 * 24
n_cols = 2
cols = ['col1', 'cols2']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

df.index = pd.util.testing.makeDateIndex(n_rows, freq='H')
df

                     col1  cols2
2000-01-01 00:00:00     6     17
2000-01-01 01:00:00    15      8
2000-01-01 02:00:00     5      7
2000-01-01 03:00:00    19      1
2000-01-01 04:00:00     3     17
...                   ...    ...
2000-12-30 19:00:00     3      9
2000-12-30 20:00:00    15      1
2000-12-30 21:00:00    18      6
2000-12-30 22:00:00    13      6
2000-12-30 23:00:00     3      9

[8760 rows x 2 columns]

# Resampling data dengan interval monthly

disini kita bisa mengatur ulang interval waktunya , semisal kita ingin mengubah menjadi bulan dengan cara :

1.memanggil df.resample dengan menyertakan parameter m dan menyertakan data yang akan di resampling (disini kita menggunakan data col 1)

2.lalu memanggil .sum() dan .to_frame()

In [4]:
df.resample('M')['col1'].sum().to_frame()

            col1
2000-01-31  7367
2000-02-29  6827
2000-03-31  7263
2000-04-30  7457
2000-05-31  7376
2000-06-30  6986
2000-07-31  7262
2000-08-31  7490
2000-09-30  7168
2000-10-31  7253
2000-11-30  7205
2000-12-31  7153

# Resampling data dengan interval daily

untuk mengubah atau mengatur ulang data frame dengan interval daily , kita bisa menggunakan cara :

1.memanggil df.resample dengan menyertakan parameter 'D' dan menyertakan data yang akan di resampling (disini kita menggunakan data col 1)

2.lalu memanggil .sum() dan .to_frame()

In [5]:
df.resample('D')['col1'].sum().to_frame()

            col1
2000-01-01   259
2000-01-02   260
2000-01-03   249
2000-01-04   288
2000-01-05   240
...          ...
2000-12-26   245
2000-12-27   211
2000-12-28   257
2000-12-29   216
2000-12-30   215

[365 rows x 1 columns]